<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
 
    <title> Здарова, дядя!</title>
  </head>
  <body>
  	<div class="container">
    	<h1>Здарова, дядя!</h1>
      <br>Начало закладене :) 
      <br>Поки ше сирий проект, тому оновлень чекай згодом. Буду дєлать шота важнає, і час від часу сюда заливати.
    	<br><a href="checks">Клікай і мути свій чек-ліст (але пака воно ше не очєнь крута работаєт)</td>
    </div>
    <!-- Подключение JavaScript -->
    <!-- Сначала jQuery, затем Popper.js, затем Bootstrap JS -->
    <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/popper.min.js" ></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>